.password-manager-feedback {
  display: flex;
  align-items: center;
  .password-manager-feedback--icon {
    flex: none;
    margin-right: 2rem;
  }
  .password-manager-feedback--text {
    flex: 1;
  }
}
