@import '../../styles/mixins.scss';

.creation-passwords {
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: row;
    > :not(:last-child) {
      margin-right: 50px;
    }
  }
}
