.password-strength-bar {
  margin: 0;
  height: 4px;
  transition: width 0.2s ease-out background-color 0.2s ease-out;
  background-color: grey;
  width: 0%;
  position: absolute;
  bottom: 0;
  &.too-weak {
    width: 25%;
    background-color: orangered;
  }
  &.weak {
    width: 50%;
    background-color: orange;
  }
  &.medium {
    width: 75%;
    background-color: skyblue;
  }
  &.strong {
    width: 100%;
    background-color: lightgreen;
  }
}
