@import '../../styles/mixins.scss';

.info--tips {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
  @include md {
    margin: 2rem;
  }
  .info--tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .info--tip-image {
      height: 140px;
    }
    .info--tip-text {
      max-width: 260px;
      text-align: center;
      margin-top: 1rem;
    }
  }
}
