@import 'styles/base';
@import 'styles/_mixins';

html {
  background-color: $background-color;
  color: $secondary-color;
  .container {
    transform: translateY(-60px);
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    @include md {
      width: 750px;
    }
    @include lg {
      width: 970px;
    }
    @include xl {
      width: 1170px;
    }
  }
}
